/*
#101928 - blue dark background
#b05626 - dark orange header background
#f59924 - dark yellow
#eae84e - bright yellow
*/

/* body {
  font-family: sans-serif;
  background: #101928;
  color: #fff;
  margin: 0;
}

header {
  font-size: 1.2em;
  text-align: center;
  border-bottom: solid 5px #f59924;
  padding: 8px;
  background: #b05626;
}

a {
  color: #eae84e;
  text-decoration: none;
}

footer {
  padding-top: 2em;
  text-align: center;
  font-size: .7em;
}

.pictolist {
  display: flex;
  flex-wrap: wrap;
}

.pictolist>input {
  max-height: 125px;
  max-width: calc(33% - 1em);
  margin: .5em
}

.pictoadder {
  padding: 8px;
  margin: 10em 0 1em 0;
  border-top: solid 1px #b05626;
  border-bottom: solid 1px #b05626;
}

.pictoadder label {
  display: block;
  margin-bottom: 1em;
}

.pictoadder span {
  margin-right: 16px
}

.todo {
  border:solid .5em #f00;
  margin: 2em;
  background:#09c;
  padding:2em;
}

.todo * {
  display: block;
  margin:.5em;
}
} */

nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

input[type="button"],
button {
  margin: .5rem;
}

[hidden] {
  display: none;
}

.soundlist>div,
.picturelist>div {
  border: solid 1px var(--border);
  padding: 0 .5rem;
}

.picturelist>div,
.soundlist>div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.picturelist>div>img,
.soundlist>div>img {
  height: 3rem !important;
}

/* Make SoundRecorder instructions match PictureAdder instructions */
details[open]>div>ol {
  margin-top: 0;
}